# OpenAI API configuration
FOX_AGENT_CHAT_API_KEY={api_key}
FOX_AGENT_CHAT_BASE_URL={base_url}
FOX_AGENT_CHAT_MODEL={model}
FOX_AGENT_CHAT_TIMEOUT=60.0
FOX_AGENT_CHAT_TEMPERATURE=0.7


# Agent configuration
FOX_AGENT_PLAN_MODE=auto
FOX_AGENT_MEMORY_MODE=auto
FOX_AGENT_RETRIEVAL_MODE=auto
FOX_AGENT_KNOWLEDGE_BASE_PATH={your_knowledge_base_path}
FOX_AGENT_RETRIEVAL_TOP_K=5
FOX_AGENT_CHUNK_SIZE=1000
FOX_AGENT_CHUNK_OVERLAP=200